.Home {
    height: 95vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Recycle {
    margin-top: 50px;
    height: 100%;
    color: white;
}

.Recycle-button {
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: #00b899;
    color: white;
    border-radius: 20px;
    width: 290px;
    height: 38px;
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    padding-top: 3px;
    letter-spacing: 2px;
}

.Recycle-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-color: #00d4b4;
}

.Recycle-avatar {
    width: 100%;
}

.Recycle-display-name {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Recycle-controls {
    display: flex;
    flex-direction: column;

}

.Recycle-name {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Recycle-edit {
    width: 32px;
    margin-left: 5px;
}