.Home {
    height: 95vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Recycle {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    margin: 20px auto 80px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #1cd4bc;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    background-color: #00c8d4;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.Recycle-earth {
    height: 200px;
}

.Recycle-text {
    margin-bottom: 25px;
}

.Recycle-button {
    outline: none;
    border: none;
    background-color: #00b899;
    color: white;
    border-radius: 20px;
    width: 290px;
    height: 38px;
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    padding-top: 3px;
    letter-spacing: 2px;
}
.Rewards {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Rewards-title {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 150px;
}
.Rewards-number {
    font-size: 48px;
}

.Rewards-points {
    margin-top: -5px;
    margin-bottom: 30px;
}

.Rewards-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

.Rewards-reward {
    width: 100%;
    padding: 20px 0;
    background-color: #303030;
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.Rewards-reward:hover {
    cursor: pointer;
}

.Rewards-image {
    width: 45px;
    height: 45px;
    margin-left: 30px;
}

.Rewards-cost {
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.Rewards-reward-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 25px;
}

.Rewards-reward-company {
    font-size: 18px;
    color: #00d4b4;
}

.Rewards-reward-description {
    font-size: 14px;
}

.Account {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Account-button {
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: #00b899;
    color: white;
    border-radius: 20px;
    width: 290px;
    height: 38px;
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    padding-top: 3px;
    letter-spacing: 2px;
}

.Account-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #00d4b4;
}

.Account-avatar {
    width: 80%;
    margin-left: 16px;
}

.Account-display-name {
    margin-top: -14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Account-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Account-rank {
    color: #00d4b4;
    font-size: 11px;
    letter-spacing: 2px;
}

.Account-controls {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.Account-control {
    width: 100%;
    padding: 16px 0;
    background-color: #303030;
    margin: 1px 0;
}

.Account-name {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account-edit {
    width: 32px;
    margin-left: 5px;
}

.nike {
    border-radius: 25px;
}

.grey {
    opacity: 0.2;
}
.star {
    width: 27px;
    height: 60px;
}

.Modal {
    background-color: #00d4b4;
    z-index: 8;
    height: 500px;
    width: 300px;
    position: fixed;
    margin-top: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Modal-header {
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.Modal-text {
}

.Modal-small-text {
    margin-top: 10px;
    font-size: 11px;
    color: #ffffff;
}

.line {
    border: solid 1px white;
    width: 220px;
}

.barcode {
    width: 220px;
    margin-bottom: -65px;
}

.coffee {
    margin-bottom: -40px;
}

.Me {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.Team {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.Team-graph-title {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.Team-graph-title-2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 60px;
}

.Team-graph-title-padded {
    margin-top: 40px;
}

.Team-legend {
    width: 75%;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    justify-content: space-around;
}

.float-1 {
    position: fixed;
    top: 250px;
    left: 90px;
}

.float-2 {
    position: fixed;
    top: 190px;
    right: 105px;
}

.Me-legend {
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    justify-content: space-around;
}

.Team-alert {
    margin-top: 25px;
    color: #00d4b4;
    font-family: "AvenirNext-Medium", sans-serif;
    font-size: 12px;
}

.lightning {
    width: 16px;
    height: 16px;
}

.down {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px -5px 20px 15px;
    padding: 2px 12px 2px 16px;
    border: solid 1px white;
    border-radius: 15px;
    font-size: 14px;
}

.more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0px -5px 20px 15px;
    padding: 2px 12px 2px 16px;
    border: solid 1px white;
    border-radius: 15px;
    font-size: 14px;
}

.Team-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
}

.Team-board {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    border: 0;
    height: 200px;
}

.Team-id {
    width: 100%;
    height: 40px;
    padding: 16px 0;
    margin: 1px 0;
}

.Team-id > td {
    text-align: left;
    padding: 0px 30px;
}

#a {
    background-color: #303030;
}

#b {  }

.legend-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#c {
    background-color: rgba(0, 212, 180, 0.91);
    font-family: "AvenirNext-Medium", sans-serif;
}

.line-me {
    border: solid 1px #00d4b4;
    width: 20px;
    height: 0;
    margin-right: 5px;
}

.line-them {
    border: solid 1px #98edf5;
    width: 20px;
    height: 0;
    margin-right: 5px;
}


.box-1 {
    background-color: #00d4b4;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.box-2 {
    background-color: #98edf5;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.Me-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.Me-text {
    margin-top: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    width: 100px;
}

.bigbar {
    height: 12px;
    width: 220px;
    background-color: white;
    border-radius: 10px;
}

.smallbar {
    height: 12px;
    width: 60px;
    background-color: #00d4b4;
    border-radius: 10px;
}

.funfact {
    width: 70%;
    font-size: 14px;
}

.blue {
    color: #00d4b4;
    font-family: "AvenirNext-Medium", sans-serif;
}